.DS_Store
.vscode
.idea
vscode-profile*
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
local-files/*
src/config/environment/.local*.env
src/config/environment/.demo.env
src/config/environment/.demo*.env
src/config/environment/.tto*.env
src/scripts/genesis-*.json
logs/*
files/*
